In [1]:
print("Hello World!")

Hello World!

In [2]:
x = "Hello Python!"
print(x)
y = 42
print(y)

Hello Python!
42

In [5]:
print("Hello World")

name = "Noelle"
print("Hello " + name)

my_name = "Shreyas Sriram"
print("Hello " + my_name)

fave_food1 = "Chipotle"
fave_food2 = "Qdoba" 
print ("I love to eat " + fave_food1 + " and " + fave_food2 + ".")

Hello World
HelloNoelle
HelloShreyas Sriram
I love to eat Chipotle and Qdoba.

In [6]:
name = "Joe Blue"

In [8]:
is_hungry = True
has_freckles = False
age = 35 # storing an int
weight = 160.57 # storing a float

# Tuples --> immutable
dog = ('Bruce', 'cocker spaniel', 19, False)
print(dog[0])		# output: Bruce
# dog[1] = 'dachshund'	# ERROR: cannot be modified ('tuple' object does not support item assignment)

#Lists
empty_list = []
ninjas = ['Rozen', 'KB', 'Oliver']
print(ninjas[2]) 	# output: Oliver
ninjas[0] = 'Francis'
ninjas.append('Michael')
print(ninjas)	# output: ['Francis', 'KB', 'Oliver', 'Michael']
ninjas.pop()
print(ninjas)	# output: ['Francis', 'KB', 'Oliver']
ninjas.pop(1)
print(ninjas)	# output: ['Francis', 'Oliver']

# Dictionaries
empty_dict = {}
new_person = {'name': 'John', 'age': 38, 'weight': 160.2, 'has_glasses': False}
new_person['name'] = 'Jack'	# updates if the key exists
new_person['hobbies'] = ['climbing', 'coding']	# adds a key-value pair if the key doesn't exist
print(new_person)	
# output: {'name': 'Jack', 'age': 38, 'weight': 160.2, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}
w = new_person.pop('weight')	# removes the specified key and returns the value
print(w)		# output: 160.2
print(new_person)	
# output: {'name': 'Jack', 'age': 38, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}

Bruce
Oliver
['Francis', 'KB', 'Oliver', 'Michael']
['Francis', 'KB', 'Oliver']
['Francis', 'Oliver']
{'name': 'Jack', 'age': 38, 'weight': 160.2, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}
160.2
{'name': 'Jack', 'age': 38, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}

In [9]:
def say_hi(name):
  print("hi, " + name)

say_hi("Shreyas")